In [55]:
# LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd

# lesser_of_two_evens(2,4) --> 2
# lesser_of_two_evens(2,5) --> 5

def lesser_of_two_evens(num1, num2):
    if(num1%2 == 0 and num2%2 == 0):
        return min(num1, num2);
    else:
        return max(num1, num2);

In [56]:
print(lesser_of_two_evens(2,4));

2

In [57]:
print(lesser_of_two_evens(2,5));

5

In [273]:
""" ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
animal_crackers('Levelheaded Llama') --> True
animal_crackers('Crazy Kangaroo') --> False
"""
def animal_crackers(text):
    split_text = text.lower().split(' ');

    return split_text[0][0] == split_text[1][0];

In [274]:
print(animal_crackers('Levelheaded Llama'));

True

In [275]:
print(animal_crackers('Crazy Kangaroo'));

False

In [318]:
""" MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False

makes_twenty(20,10) --> True
makes_twenty(12,8) --> True
makes_twenty(2,3) --> False
"""
def makes_twenty(num1, num2):
    return (num1 + num2) == 20 or num1 == 20 or num2 == 20;

In [319]:
print(makes_twenty(20,10));

True

In [320]:
print(makes_twenty(12,8));

True

In [321]:
print(makes_twenty(2,3));

False

In [362]:
""" OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name

old_macdonald('macdonald') --> MacDonald
"""
def old_macdonald(name):
    first_name = name[:3];
    last_name = name[3:];

    return first_name.capitalize() + last_name.capitalize();

In [363]:
print(old_macdonald('macdonald'));

MacDonald

In [364]:
"""
MASTER YODA: Given a sentence, return a sentence with the words reversed

master_yoda('I am home') --> 'home am I'
master_yoda('We are ready') --> 'ready are We'
"""
def master_yoda(string):
    reverse_list = string.split(' ');
    reverse_list.reverse();
    return ' '.join(reverse_list);

In [365]:
print(master_yoda('I am home'));

home am I

In [366]:
print(master_yoda('We are ready'));

ready are We

In [400]:
''' 
    ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
'''

def almost_there(n):
    return (abs(100-n) <= 10) or (abs(200-n) <= 10);

In [401]:


# Check
almost_there(104)

True

In [402]:
# Check
almost_there(150)

False

In [403]:


# Check
almost_there(209)

True

In [487]:
"""
    Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.
    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False
"""

def has_33 (nums):
    for i in range(0, len(nums)-1):
        if nums[i] == 3 and nums[i+1] == 3:
            return True;
    
    return False; 

    # flag = False;
    # for num in nums:
    #     if(num == 3 and flag):
    #         return True;
    #     elif(num == 3):
    #         flag = True;
    #     else:
    #         flag = False;

    # return False;

In [488]:
# Check
print(has_33([1, 3, 3]));

True

In [489]:
print(has_33([1, 3, 1, 3]));

False

In [490]:
print(has_33([3, 1, 3]))

False

In [515]:
'''
PAPER DOLL: Given a string, return a string where for every character in the original there are three characters

paper_doll('Hello') --> 'HHHeeellllllooo'
paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'
'''

def paper_doll (string):
    paper_doll = '';

    for char in string:
        paper_doll += char*3;

    return paper_doll;

In [516]:
print(paper_doll('Hello'))

HHHeeellllllooo

In [517]:
print(paper_doll('Mississippi'))

MMMiiissssssiiissssssiiippppppiii

In [621]:
'''
BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'

blackjack(5,6,7) --> 18
blackjack(9,9,9) --> 'BUST'
blackjack(9,9,11) --> 19
'''

def blackjack (a, b, c):
    total = sum([a, b, c]);

    if (total <= 21):
        return total;
    elif ((total <= 31) and 11 in [a, b, c]):
        return total - 10;
    else:
        return 'BUST';

In [622]:
print(blackjack(5,6,7))

18

In [623]:
print(blackjack(9,9,9))

BUST

In [624]:
print(blackjack(9,9,11))

19

In [641]:
'''
SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.

summer_69([1, 3, 5]) --> 9
summer_69([4, 5, 6, 7, 8, 9]) --> 9
summer_69([2, 1, 6, 9, 11]) --> 14
'''

def summer_69 (arr):
    do_not_add = False;
    sum = 0;
    
    for num in arr:
        if (num == 6):
            do_not_add = True;
        elif (num == 9):
            do_not_add = False;
        elif (do_not_add):
            continue;
        else:
            sum = sum + num;

    return sum;

In [642]:
print(summer_69([1, 3, 5]))

9

In [643]:
print(summer_69([4, 5, 6, 7, 8, 9]))

9

In [644]:
print(summer_69([2, 1, 6, 9, 11]))

14

In [671]:
'''
SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

 spy_game([1,2,4,0,0,7,5]) --> True
 spy_game([1,0,2,4,0,5,7]) --> True
 spy_game([1,7,2,0,4,5,0]) --> False
'''

def spy_game (list):
    agent = [0, 0, 7];
    for num in list:
        if (len(agent) <= 0): break;

        if (agent[0] == num):
            agent.pop(0);
    
    return len(agent) == 0;

In [672]:
print(spy_game([1,2,4,0,0,7,5]))

True

In [673]:
print(spy_game([1,0,2,4,0,5,7]))

True

In [674]:
print(spy_game([1,7,2,0,4,5,0]))

False

In [757]:
'''
COUNT PRIMES: Write a function that returns the number of prime numbers that exist up to and including a given number

count_primes(100) --> 25
'''

def count_primes (num):
    if (num < 2):
        return 0;

    primes = [2];
    x = 3;
    
    while x <= num:
        for i in primes:
            if x%i == 0:
                x += 2;
                break;
        else:
            primes.append(x);
            x += 2;
             

    return len(primes);

    # count = 0;    
    # if (num < 2):
    #     return count;
    
    # for i in range(2, num+1):
    #     isPrime = True;
    #     for j in range(2, i):
    #         if (i%j == 0):
    #             isPrime = False;
    #             break;
        
    #     if (isPrime):
    #         count += 1;

    # return count;

In [758]:
print(count_primes(100))

25

In [759]:
patterns = {
    'one': '*',
    'mid': '  *  ',
    'first_and_last': '*   *',
    'second_and_fourth': ' * * ',
    'three': '*** ',
    'four': '****',
    'full': '*****'
}

letters = {
    'a': [patterns['mid'], patterns['second_and_fourth'], patterns['full'], patterns['first_and_last'], patterns['first_and_last']],
    'b': [patterns['four'], patterns['first_and_last'], patterns['four'], patterns['first_and_last'], patterns['four']],
    'c': [patterns['mid'], patterns['first_and_last'], patterns['one'], patterns['first_and_last'], patterns['mid']],
    'd': [patterns['four'], patterns['first_and_last'], patterns['first_and_last'], patterns['first_and_last'], patterns['four']],
    'e': [patterns['full'], patterns['one'], patterns['four'], patterns['one'], patterns['full']]
}

def print_big (letter):
    pattern = letters[letter];
    big_letter = '';

    for p in pattern:
        big_letter = f'{big_letter}{p} \n';

    return big_letter;

In [760]:
print(print_big('a'));

  *
 * *
*****
*   *
*   *

In [761]:
print(print_big('b'));

****
*   *
****
*   *
****

In [762]:
print(print_big('c'));

  *
*   *
*
*   *
  *

In [763]:
print(print_big('d'));

****
*   *
*   *
*   *
****

In [764]:
print(print_big('e'));

*****
*
****
*
*****